@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@if (User.Identity.IsAuthenticated)
{
    <h2>Hello, @User.Identity.Name!</h2>

    @* Section for Business Owner*@
    if (User.IsInRole("Small Business Owner"))
    {
        <h1>You have acess to approve restock requests and view sales trends</h1>
    }
    else if (User.IsInRole("Manager"))
    {

        <h1>You can review inventory history and monitor restocking trends</h1>
        
    }
    else if (User.IsInRole("Staff"))
    {
        <h1>Update inventory after sales or restocks</h1>
        
        
    }
}
else
{
    <h1>Please log in to access the Inventory Management System</h1>
}